Repository opencast/opencast, pull requests merged in 2022-09, with the labels that each got.

#3218 Opencast Plugin Manager
  assemblies/dist-admin/pom.xml
  assemblies/dist-adminpresentation/pom.xml
  assemblies/dist-allinone/pom.xml
  assemblies/dist-develop/pom.xml
  assemblies/dist-ingest/pom.xml
  assemblies/dist-presentation/pom.xml
  assemblies/dist-worker/pom.xml
  assemblies/karaf-features/src/main/feature/feature.xml
  assemblies/pom.xml
  docs/guides/admin/docs/configuration/security.user.brightspace.md
  docs/guides/admin/docs/configuration/security.user.canvas.md
  docs/guides/admin/docs/configuration/security.user.moodle.md
  docs/guides/admin/docs/configuration/security.user.sakai.md
  docs/guides/admin/docs/index.md
  docs/guides/admin/docs/modules/amberscripttranscripts.md
  docs/guides/admin/docs/modules/googlespeechtranscripts.md
  docs/guides/admin/docs/modules/plugin-management.md
  docs/guides/admin/docs/modules/watsontranscripts.md
  docs/guides/admin/docs/releasenotes/plugin-management.txt
  docs/guides/admin/mkdocs.yml
  etc/org.opencastproject.plugin.impl.PluginManagerImpl.cfg
  modules/plugin-manager/pom.xml
  modules/plugin-manager/src/main/java/org/opencastproject/plugin/impl/PluginManagerImpl.java
  pom.xml
Labels: feature

#3607 Extract JobDispatcher into its own class
  assemblies/dist-admin/pom.xml
  assemblies/dist-adminpresentation/pom.xml
  assemblies/dist-allinone/pom.xml
  assemblies/dist-develop/pom.xml
  assemblies/dist-ingest/pom.xml
  assemblies/dist-presentation/pom.xml
  assemblies/dist-worker/pom.xml
  assemblies/resources/build.xml
  docs/guides/admin/docs/installation/multiple-servers.md
  etc/org.opencastproject.serviceregistry.impl.JobDispatcher.cfg
  etc/org.opencastproject.serviceregistry.impl.ServiceRegistryJpaImpl.cfg
  modules/serviceregistry/pom.xml
  modules/serviceregistry/src/main/java/org/opencastproject/serviceregistry/impl/JobDispatcher.java
  modules/serviceregistry/src/main/java/org/opencastproject/serviceregistry/impl/ServiceRegistryJpaImpl.java
  modules/serviceregistry/src/test/java/org/opencastproject/serviceregistry/impl/JobTest.java
  modules/serviceregistry/src/test/java/org/opencastproject/serviceregistry/impl/ServiceRegistrationTest.java
  modules/serviceregistry/src/test/java/org/opencastproject/serviceregistry/impl/ServiceRegistryJpaImplTest.java
Labels: enhancement, documentation, java, configuration

#4065 Backport Paella 7 updates from develop /August-2022
  modules/engage-paella-player-7/package-lock.json
  modules/engage-paella-player-7/package.json
Labels: maintenance, needs attention

#4119 Respect system settings when sending adopter data
  modules/adopter-registration-impl/pom.xml
  modules/adopter-registration-impl/src/main/java/org/opencastproject/adopter/statistic/Sender.java
Labels: bug

#4154 Fix workflow config handover from ingest to scheduler service
  modules/ingest-service-impl/src/main/java/org/opencastproject/ingest/impl/IngestServiceImpl.java
Labels: bug, ELAN, java, small pull request

#4155 Fix ingest of series catalog via external URL
  modules/ingest-service-impl/src/main/java/org/opencastproject/ingest/impl/IngestServiceImpl.java
Labels: bug, ELAN, java, small pull request

#4159 Fix search service limit - update more than 10 events for a series change
  modules/conductor/src/main/java/org/opencastproject/event/handler/SeriesUpdatedEventHandler.java
  modules/search-service-api/src/main/java/org/opencastproject/search/api/SearchQuery.java
  modules/search-service-api/src/main/java/org/opencastproject/search/api/SearchResult.java
  modules/search-service-api/src/main/java/org/opencastproject/search/api/SearchResultImpl.java
  modules/search-service-impl/src/main/java/org/opencastproject/feed/impl/SeriesFeedService.java
  modules/search-service-impl/src/main/java/org/opencastproject/search/endpoint/SearchRestService.java
  modules/search-service-impl/src/main/java/org/opencastproject/search/impl/solr/SolrRequester.java
Labels: bug, api change, ELAN, java, possibly controversial

#4044 Target to released branches Paella 6 and 7 updates
  .github/dependabot.yml
  docs/guides/developer/docs/release-manager.md
Labels: enhancement, maintenance, small pull request

#4137 Delete scheduled events fixed (fixes #4084)
  modules/index-service/src/main/java/org/opencastproject/index/service/impl/IndexServiceImpl.java
Labels: bug

#4151 Allow global admins to always get workflow instances for a media package
  modules/workflow-service-impl/src/main/java/org/opencastproject/workflow/impl/WorkflowServiceImpl.java
Labels: bug, ELAN, java

#4082 named the correct directory - Update workflow.md
  docs/guides/admin/docs/configuration/workflow.md
Labels: documentation

#4172 Allow upload of multiple assets with the same flavor (based on config)
  docs/guides/admin/docs/configuration/admin-ui/asset-upload.md
  etc/listproviders/event.upload.asset.options.properties
  modules/index-service/src/main/java/org/opencastproject/index/service/impl/IndexServiceImpl.java
  modules/index-service/src/test/java/org/opencastproject/index/service/impl/IndexServiceImplTest.java
Labels: bug

#3998 Add navigation shortcuts in admin ui modals
  etc/org.opencastproject.organization-mh_default_org.cfg
  modules/admin-ui-frontend/app/scripts/shared/directives/wizardDirective.js
  modules/admin-ui-frontend/resources/public/org/opencastproject/adminui/languages/lang-en_US.json
Labels: admin-ui-feature-tracking

#3274 Index Extended Metadata
  modules/asset-manager-impl/src/main/java/org/opencastproject/assetmanager/impl/AssetManagerImpl.java
  modules/authorization-manager/src/main/java/org/opencastproject/authorization/xacml/manager/impl/AclServiceImpl.java
  modules/common/src/main/java/org/opencastproject/util/jaxb/ExtendedMetadataAdapter.java
  modules/dublincore/src/main/java/org/opencastproject/metadata/dublincore/DublinCoreByteFormat.java
  modules/dublincore/src/main/java/org/opencastproject/metadata/dublincore/DublinCoreJsonFormat.java
  modules/dublincore/src/main/java/org/opencastproject/metadata/dublincore/DublinCores.java
  modules/elasticsearch-impl/src/main/java/org/opencastproject/elasticsearch/impl/IndexSchema.java
  modules/elasticsearch-impl/src/main/resources/elasticsearch/event-mapping.json
  modules/elasticsearch-impl/src/main/resources/elasticsearch/series-mapping.json
  modules/elasticsearch-index/src/main/java/org/opencastproject/elasticsearch/index/objects/event/Event.java
  modules/elasticsearch-index/src/main/java/org/opencastproject/elasticsearch/index/objects/event/EventIndexSchema.java
  modules/elasticsearch-index/src/main/java/org/opencastproject/elasticsearch/index/objects/event/EventIndexUtils.java
  modules/elasticsearch-index/src/main/java/org/opencastproject/elasticsearch/index/objects/series/Series.java
  modules/elasticsearch-index/src/main/java/org/opencastproject/elasticsearch/index/objects/series/SeriesIndexSchema.java
  modules/elasticsearch-index/src/main/java/org/opencastproject/elasticsearch/index/objects/series/SeriesIndexUtils.java
  modules/event-comment/src/main/java/org/opencastproject/event/comment/persistence/EventCommentDatabaseServiceImpl.java
  modules/index-service/src/main/java/org/opencastproject/index/service/catalog/adapter/CatalogUIAdapterFactory.java
  modules/index-service/src/main/java/org/opencastproject/index/service/catalog/adapter/series/ConfigurableSeriesDCCatalogUIAdapter.java
  modules/scheduler-impl/src/main/java/org/opencastproject/scheduler/impl/SchedulerServiceImpl.java
  modules/series-service-api/src/main/java/org/opencastproject/series/api/SeriesService.java
  modules/series-service-impl/src/main/java/org/opencastproject/series/endpoint/SeriesRestService.java
  modules/series-service-impl/src/main/java/org/opencastproject/series/impl/SeriesServiceImpl.java
  modules/series-service-impl/src/test/java/org/opencastproject/series/impl/SeriesServiceImplTest.java
  modules/series-service-remote/src/main/java/org/opencastproject/series/remote/SeriesServiceRemoteImpl.java
  modules/workflow-service-impl/src/main/java/org/opencastproject/workflow/impl/WorkflowServiceImpl.java
Labels: feature, ELAN, java

#4233 Opencast 12.3 Release Notes
  docs/guides/admin/docs/changelog.md
  docs/guides/admin/docs/releasenotes.md
Labels: documentation

#4157 Allow setting explicit id for themes
  modules/admin-ui/src/test/java/org/opencastproject/adminui/endpoint/TestThemesEndpoint.java
  modules/themes/src/main/java/org/opencastproject/themes/persistence/ThemesServiceDatabaseImpl.java
Labels: enhancement, ELAN, java
